[Unit]
Description=VirtualBox Cluster %I
After=network.target virtualbox.service
Before=runlevel2.target shutdown.target
[Service]
User=mproffitt
Group=vboxusers
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/usr/bin/VBoxManage startvm %i.${domain} --type headless
ExecStop=/usr/bin/VBoxManage controlvm %i.${domain} acpipowerbutton
[Install]
WantedBy=multi-user.target
